<div class="wearegbg"></div>
<h1 class="about_header">L채r k채nna oss p책 riktigt:</h1>
<div class="about_buttons">
    <button class="read-more about_btn" onclick="openInNewTab('https://ifkgoteborg.se/om-ifk-goteborg/var-historia/')">L채s om oss...</button>
    <button class="read-more about_btn" onclick="openInNewTab('https://ifkgoteborg.se/biljetter/spelschema/')">Spelschema</button>
    <button class="read-more about_btn" onclick="openInNewTab('http://www.senastgaisvann.se/')">Senast GAIS vann</button>
                
</div>