<h1 class="welcome">Välkommen till IFK Göteborg!</h1>
<div class="bytuttillbild"></div>
<p class="indextext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sequi minus vero aliquid adipisci optio ipsa consequuntur facere aperiam sunt, consequatur, necessitatibus dolore officiis asperiores voluptatem sapiente suscipit incidunt quam voluptatibus autem quos corporis facilis laudantium? Omnis consequatur eum aliquam asperiores reprehenderit adipisci non modi dolorem deserunt, quidem assumenda ipsam natus officia sit hic ducimus. </p>