<div class="login_box">
	<h2 class="login_heading">Logga in</h2>
	<p class="username_text">Användarnamn:</p>
	<input type="text" class="username_input login_inputs" placeholder="Användarnamn/E-post">
	<p class="password_text">Lösenord:</p>
	<input type="password" class="password_input login_inputs" placeholder="Lösenord">
	<button class="login_button">Logga in</button>
</div>

<h1 class="create_acc_text">Har du inget konto kan du skapa ett nedan:</h1>

<div class="create_acc_box">
	<h2 class="login_heading">Skapa konto</h2>
	<p class="username_text">Användarnamn:</p>
	<input type="text" class="username_input login_inputs" placeholder="Användarnamn/E-post">
	<p class="password_text">Lösenord:</p>
	<input type="password" class="password_input login_inputs" placeholder="Lösenord">
	<p class="password_text_signup">Bekräfta lösenord:</p>
	<input type="password" class="password_input_signup login_inputs" placeholder="Bekräfta lösenord">
	<p class="mail_text">E-post:</p>
	<input type="text" class="mail_input login_inputs" placeholder="example@domain.com">
	<button class="create_acc_button">Skapa konto</button>
</div>